:root
{
        --porkbun_danger: #EC5631;
        --porkbun_warning: #F6BB43;
        --porkbun_success: #8CC051;
        --porkbun_pink_hover: #DC6070;
        --porkbun_pink: #EF7878;
        --porkbun_pink_light: #FADCDA;
        --porkbun_dark_gray: #222222;
        --porkbun_light_gray: #F3F3F3;
        --porkbun_medium_gray: #cccccc;
        --porkbun_white: white;
}

.text-porkbun
{
        color: var(--porkbun_pink);
}

.btn-porkbun
{
        background-color: var(--porkbun_pink);
        color: var(--porkbun_white);
}
.btn-porkbun:hover
{
        background-color: var(--porkbun_pink_hover);
        color: var(--porkbun_white);
}
.btn-porkbun:focus
{
        background-color: var(--porkbun_pink_hover);
        color: var(--porkbun_white);
}
